<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="p-10">
<main class="bg-gradient-to-br from-blue-800 to-blue-500 w-[40%] ml-[35%]   flex flex-col gap-10 font-bold justify-center">
 <header class="text-white text-4xl  text-center p-10 "><h1>Registration Form</h1></header>
 <form class="gap-4 flex flex-col p-6  " [formGroup]="reactiveForm" (ngSubmit) ="OnFormSubmitted()">
     <!-- First Name    -->
      
     
      <label for="firstname">First Name:</label>
      <input formControlName="firstname" class="p-4 text-black rounded" type="text" placeholder="First Name">
     <div class="bg-red-700" *ngIf="f['firstname'].touched && f['firstname'].invalid">
      <p *ngIf="f['firstname'].errors?.['required']" class="">First Name is required.</p>
    <p *ngIf="f['firstname'].errors?.['minlength']" class="text-red">First Name must be at least 2 characters long.</p>
     </div>
    
       
      
      
       
     
  

    <!-- Last Name -->
    
      <label for="lastname">Last Name:</label>
      <input formControlName="lastname" class="p-4 text-black rounded-lg" type="text" placeholder="Last Name">
      <div class="bg-red-700" *ngIf="f['lastname'].touched && f['lastname'].invalid">
        <h1 *ngIf="f['lastname'].errors?.['required']" class="text-danger">Last Name is required.</h1>
        <h1 *ngIf="f['lastname'].errors?.['minlength']" class="text-danger">Last Name must be at least 2 characters long.</h1>
      </div>
     
    
     <!-- Email -->
      
        <label for="email">Email:</label>
        <input formControlName="email" class="p-4 text-black rounded-lg" type="text" placeholder="Email ID">
        <div class="bg-red-700" *ngIf="f['email'].touched && f['email'].invalid">
          <small *ngIf="f['email'].errors?.['required']" class="text-danger">Email is required.</small>
          <small *ngIf="f['email'].errors?.['email']" class="text-danger">Email is invalid.</small>
        </div>
      
   
      <!-- userName -->
      

      <label for="username">Username:</label>
        <input formControlName="username" class="p-4 text-black rounded-lg" type="text" placeholder="User Name">
        <div class="bg-red-700" *ngIf="f['username'].touched && f['username'].invalid">
          <small *ngIf="f['username'].errors?.['required']" class="text-danger">Username is required.</small>
          <small *ngIf="f['username'].errors?.['minlength']" class="text-danger">Username must be at least 4 characters long.</small>
        </div>
    
  
       <!-- DOB -->
      
          <input formControlName="dob" class="p-4 text-black rounded-lg" type="date" placeholder="Date Of Birth" >
          <div class="bg-red-700" *ngIf="f['dob'].touched && f['dob'].invalid">
            <small *ngIf="f['dob'].errors?.['required']" class="text-danger">Date of Birth is required.</small>
          </div>

    <div>
      <h3 class="text-white">Gender</h3>
      <div class="flex gap-4">
        <div class="text-white">
          <input type="radio" value="female" formControlName="gender">
          <label for="">Female</label>
        </div>
        <div class="text-white">
          <input type="radio" value="Male" formControlName="gender">
          <label for="">Male</label>
        </div>
      </div>
      <div class="bg-red-700" *ngIf="f['gender'].touched && f['gender'].invalid">
        <small class="text-danger">Gender is required.</small>
      </div>
     
    </div>
    <!-- Submit Button -->
     <input  class="bg-blue-700 text-white p-4" value="Submit" type="submit" placeholder="Submit">
    <!-- <button class="bg-blue-600" type="submit" class="text-white">Submit</button> -->
 </form>

 <div class="flex flex-col justify-center p-4" *ngIf = "formData.length > 0">
    <h3 class="text-white text-xl font-semibold text-center
    p-4">User's Data</h3>
    <table class="text-white">
      <thead class=" bg-blue-600 border-blue-950 border-b-4 ">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>UserName</th>
          <th>Date of Birth</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody class="bg-blue-300 text-black text-center">
        <tr *ngFor="let data of formData">
          <td>{{data.firstname}}</td>
          <td>{{data.lastname}}</td>
          <td>{{data.email}}</td>
          <td>{{data.username}}</td>
          <td>{{data.dob}}</td>
          <td>{{data.gender}}</td>
        </tr>
      </tbody>
    </table>
 </div>

</main>
</div>





<router-outlet />
